.contentViews{
    width:80%;
    height: 95vh;
    background-color:seashell;
}
.rowContent{
    display: flex;
    justify-content: space-between;
}
.cardChart{
    width: 30vw;
    height: 30vh;
    background-color: white;
    border: 0.5px solid grey;
    margin-left: 2vw;
    margin-top: 5vh;
    margin-right: 3vw;
}
.cardChartComplete{
    width: 75vw;
    height: 35vh;
    background-color: white;
    border: 0.5px solid grey;
    margin-left: 2vw;
    margin-top: 5vh;
}