.menu{
    height: 95vh;
    width: 20%;
    background-color: black;
    
}
.buttom{
    background-color: black;
    color: white;
    font-size: 14px;
}
.buttom:hover{
    background-color: darkslategray;
}