#menu{
    background-color: black;
    height: 100%;
    width: 20%;
}
#buttom{
    background-color: black;
    color: white;
    font-size: 14px;
}
#buttom:hover{
    background-color: darkslategray;
}